Makefile
.DS_Store
.idea
.com.apple.timemachine.supported
config/application.yml
config/backgroundrb.yml
log/*.log
log/*
tmp/**/*
tmp/*
tmp/restart.txt
config/database.yml
config/development.sphinx.conf
config/production.sphinx.conf
config/cucumber.sphinx-default.conf
config/initializers/paperclip.rb
config/newrelic.yml
db/schema.rb
db/sphinx
db/test.sqlite3
db/development.sqlite3
nbproject
*~
*.swp
*.css
Thumbs.db
coverage
vendor/plugins/test_benchmark
#Vim temproart files
public/system
scratch_directory
lib/tasks/metric_fu.rake
TAGS
test
coverage.data
mkmf.log
config/cucumber/sphinx.conf
config/cucumber.sphinx.conf
config/test.sphinx.conf
rerun.txt
capybara-*
pickle-email-*
config.el
public/javascripts/i18n/*
public/stylesheets/development.css
public/stylesheets/application.css
.rvmrc
.bundle/config
